.header {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
  background-color: #198db1;
  flex-direction:column;
  color: rgb(211, 152, 4);
  z-index: 0;
}