nav {
  display:flex;
  height: 120px;
  width: 100%;
  background: transparent;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em; 
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position:sticky;
  color: rgb(211, 152, 4);
  top: 0;
}
#arrow:hover {
  color: rgba(255, 8, 0, 0.685);
}
.title{
  font-size: 40px;
  font-family:'Bungee', cursive;
}
.element{
  display: flex;
  align-items: center;
  flex-direction: column;  
}
